           <div class="subscribe">
              <h5 class="info-text">
                  Chcesz wiedzieć kiedy startujemy?
              </h5>
              <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
 
<%= render 'errors' %>
<%=form_tag pre_launch_subscribe_path, action: :pre_lauch, class: 'form-inline', role: 'form' do %>
  <div class="form-group">
    <%= email_field_tag :email, nil, class: "form-control transparent",
      placeholder:"Podaj swój email... "%>
  </div>
  <%= submit_tag 'Chcę!', class: "btn btn-danger btn-fill" %>
<%end%>
                </div>
                             </div>
                              <div class='row'>
                <div class='col-md-12'>
                  <p class="info-text clear">
                  Zero spamu, tylko konkretne informacje na temat startu naszej usługi. 
                  </p>
              </div>
            </div>

 
